<%= link_to product_path(order_detail.product) do %>
  <div class="mt-4 md:mt-6 flex flex-row justify-start items-start md:items-center space-x-6 xl:space-x-8 w-full">
    <div class="pb-4 md:pb-8 w-40">
      <%= image_tag order_detail.product.image, class: "aspect-square w-full rounded-xl object-cover" %>
    </div>
    <div class="border-b border-gray-200 md:flex-row flex-col flex justify-between items-start w-full pb-8 space-y-4 md:space-y-0">
      <div class="w-full flex flex-col justify-start items-start space-y-8">
        <p class="text-3xl font-semibold leading-6 text-gray-800"><%= order_detail.product.name %></p>
        <div class="flex justify-start items-start flex-col space-y-2">
          <p class="text-lg leading-none text-gray-800"><%= number_to_currency(order_detail.price, unit: "¥", strip_insignificant_zeros: true) %></p>
          <p class="text-md leading-none text-gray-800">Qty: <%= order_detail.quantity %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>